 .u-section-1 {
  min-height: 106px;
}

.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-gallery-1 {
  height: 137px;
  width: 599px;
  margin: -12px auto 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 28px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-image-1 {
  width: 111px;
  height: 93px;
  margin: -118px 0 7px auto;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 532px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-1 .u-gallery-1 {
    height: 93px;
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -104px;
    margin-bottom: -11px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-1 .u-gallery-1 {
    height: 61px;
    width: 403px;
  }

  .u-section-1 .u-image-1 {
    width: 76px;
    height: 72px;
    margin-top: -61px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-1 .u-gallery-1 {
    height: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 13px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #e9f2fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 78px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  font-size: 2.5rem;
  margin: 0 46px 0 103px;
}

.u-section-2 .u-image-1 {
  width: 85px;
  height: 76px;
  filter: brightness(0.6);
  margin: -60px auto 18px 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -32px;
    margin-left: 32px;
  }

  .u-section-2 .u-image-1 {
    width: 72px;
    height: 64px;
    margin-top: -88px;
    margin-bottom: 24px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -64px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-2 .u-text-1 {
    width: 427px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -141px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 4px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -151px;
    margin-bottom: 60px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-2 .u-text-1 {
  border-color: transparent !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 2684px;
}

.u-section-3 .u-tabs-1 {
  min-height: 2342px;
  height: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-tab-link-3 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-item-5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-3 .u-tab-link-5 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.u-section-3 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-elements-1 {
  width: 756px;
  min-height: 488px;
  margin: 29px 142px 0 auto;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.5625rem;
  font-style: italic;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 0 0;
}

.u-section-3 .u-image-1 {
  width: 621px;
  height: 265px;
  filter: brightness(0.98);
  margin: 29px auto 0;
}

.u-section-3 .u-group-elements-2 {
  width: 756px;
  min-height: 253px;
  height: auto;
  margin: 39px 142px 0 auto;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.5625rem;
  font-style: italic;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.5625rem;
  font-style: italic;
  transition-duration: 0.5s;
  text-transform: uppercase;
  margin: 29px 140px 0 244px;
}

.u-section-3 .u-group-1 {
  --radius: 22px;
  width: 728px;
  min-height: 110px;
  height: auto;
  margin: 5px 170px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 17px 20px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 25px 157px 0 244px;
}

.u-section-3 .u-image-2 {
  width: 652px;
  height: 385px;
  margin: 53px 194px 0 auto;
}

.u-section-3 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 51px) calc(25% - 51px) calc(25% - 51px) calc(25% - 51px);
  min-height: 723px;
  grid-gap: 68px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-14 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-16 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-17 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-18 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-19 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-20 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-22 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-9 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-23 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-24 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-25 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-7 {
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-10 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-26 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-27 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-28 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-11 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-29 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-30 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-31 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-12 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-32 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-33 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-34 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-list-item-10 {
  background-image: none;
  transition-duration: 1s;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-13 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-35 {
  font-size: 1.5625rem;
  text-transform: none;
  font-weight: 400;
  font-family: Oswald, sans-serif;
  margin: 20px 0 0;
}

.u-section-3 .u-text-36 {
  font-size: 1.25rem;
  margin: 14px 0 0;
}

.u-section-3 .u-text-37 {
  font-size: 0.9375rem;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: none;
  margin: 9px 0 0;
}

.u-section-3 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 0;
}

.u-section-3 .u-list-2 {
  width: 855px;
  margin: 60px auto 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 2496px;
  grid-gap: 59px;
}

.u-section-3 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-15 {
  padding: 10px 0 7px;
}

.u-section-3 .u-text-38 {
  transition-duration: 0.5s;
  font-size: 1.5625rem;
  margin: 11px 14px 0 30px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  font-size: 1.5625rem;
  padding: 0;
}

.u-section-3 .u-group-elements-3 {
  width: 811px;
  min-height: 68px;
  height: auto;
  margin: 9px auto 0 30px;
}

.u-section-3 .u-text-39 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-40 {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-3 .u-image-3 {
  width: 711px;
  height: 301px;
  margin: 0 auto;
}

.u-section-3 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-16 {
  padding: 10px 0 7px;
}

.u-section-3 .u-text-41 {
  font-size: 1.5625rem;
  margin: 11px 14px 0 30px;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  font-size: 1.5625rem;
  padding: 0;
}

.u-section-3 .u-group-elements-4 {
  width: 811px;
  min-height: 68px;
  height: auto;
  margin: 9px auto 0 30px;
}

.u-section-3 .u-text-42 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-43 {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-3 .u-image-4 {
  width: 711px;
  height: 301px;
  margin: 0 auto;
}

.u-section-3 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-17 {
  padding: 10px 0 7px;
}

.u-section-3 .u-text-44 {
  font-size: 1.5625rem;
  margin: 11px 14px 0 30px;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  font-size: 1.5625rem;
  padding: 0;
}

.u-section-3 .u-group-elements-5 {
  width: 811px;
  min-height: 68px;
  height: auto;
  margin: 9px auto 0 30px;
}

.u-section-3 .u-text-45 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-46 {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-3 .u-image-5 {
  width: 711px;
  height: 301px;
  margin: 0 auto;
}

.u-section-3 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-18 {
  padding: 10px 0 7px;
}

.u-section-3 .u-text-47 {
  font-size: 1.5625rem;
  margin: 11px 14px 0 30px;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  font-size: 1.5625rem;
  padding: 0;
}

.u-section-3 .u-group-elements-6 {
  width: 811px;
  min-height: 68px;
  height: auto;
  margin: 9px auto 0 30px;
}

.u-section-3 .u-text-48 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-49 {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-3 .u-image-6 {
  width: 711px;
  height: 301px;
  margin: -29px auto 0;
}

.u-section-3 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 27px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-19 {
  padding: 10px 0 7px;
}

.u-section-3 .u-text-50 {
  font-size: 1.5625rem;
  margin: 11px 14px 0 30px;
}

.u-section-3 .u-group-elements-7 {
  width: 811px;
  min-height: 68px;
  height: auto;
  margin: 9px auto 0 30px;
}

.u-section-3 .u-text-51 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-52 {
  font-weight: 400;
  font-size: 1.125rem;
  font-style: italic;
  margin: 7px 0 0;
}

.u-section-3 .u-image-7 {
  width: 711px;
  height: 301px;
  margin: 0 auto;
}

.u-section-3 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-20 {
  padding: 0 160px;
}

.u-section-3 .u-text-53 {
  font-size: 1.5625rem;
  margin: 79px 0 0 8px;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-21 {
  padding: 0 189px;
}

.u-section-3 .u-image-8 {
  min-height: 392px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/pexels-photo-532568.jpeg");
  width: 642px;
  margin: 51px auto 0;
}

.u-section-3 .u-container-layout-22 {
  padding: 7px 0;
}

.u-section-3 .u-text-54 {
  font-size: 1.5625rem;
  font-style: italic;
  margin: 30px 297px 0 24px;
}

.u-section-3 .u-list-3 {
  width: 498px;
  margin: 17px auto 0 60px;
}

.u-section-3 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 259px;
  grid-gap: 19px;
}

.u-section-3 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-23 {
  padding: 0;
}

.u-section-3 .u-text-55 {
  font-size: 1.25rem;
  margin: 28px auto 0 30px;
}

.u-section-3 .u-text-56 {
  font-size: 1.125rem;
  margin: 11px 11px 0 30px;
}

.u-section-3 .u-text-57 {
  font-size: 1.25rem;
  margin: 25px auto 0 30px;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  font-size: 0.9375rem;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  font-size: 0.9375rem;
  margin: 4px auto 0 30px;
  padding: 0;
}

.u-section-3 .u-text-58 {
  font-size: 1.25rem;
  margin: 1px auto 0 30px;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  font-size: 0.9375rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-elements-1 {
    height: auto;
    margin-top: 23px;
    margin-right: auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 28px;
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 12px;
    margin-right: auto;
    margin-left: 92px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-7 {
    transition-duration: 0.5s;
    width: auto;
    margin-top: 23px;
    margin-right: 109px;
    margin-left: 92px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 23px;
    margin-right: auto;
    margin-left: 130px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 598px;
  }

  .u-section-3 .u-text-53 {
    margin-left: 0;
  }

  .u-section-3 .u-image-8 {
    background-position: 50% 50%;
    background-size: 120%;
    width: 562px;
    height: auto;
  }

  .u-section-3 .u-text-54 {
    margin-right: 240px;
    margin-left: 0;
  }

  .u-section-3 .u-list-3 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-3 .u-text-58 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 720px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 14px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 68px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1636px;
    grid-template-columns: calc(50% - 34px) calc(50% - 34px);
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-text-38 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-3 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-41 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-4 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-44 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-5 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-47 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-6 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-text-50 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-7 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-8 {
    margin-bottom: -28px;
  }

  .u-section-3 .u-text-54 {
    width: auto;
    margin-top: 25px;
    margin-right: 227px;
    margin-left: 13px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
    min-height: 521px;
  }

  .u-section-3 .u-image-1 {
    width: 522px;
    height: 234px;
  }

  .u-section-3 .u-group-elements-2 {
    min-height: 317px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 31px;
  }

  .u-section-3 .u-group-1 {
    min-height: 130px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 319px;
    margin-top: 53px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-38 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-group-elements-3 {
    min-height: 129px;
    width: 503px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-39 {
    width: auto;
  }

  .u-section-3 .u-text-40 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-image-3 {
    width: 489px;
    height: 205px;
    margin-right: 22px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-41 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-group-elements-4 {
    min-height: 129px;
    width: 503px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-42 {
    width: auto;
  }

  .u-section-3 .u-text-43 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-image-4 {
    width: 489px;
    height: 205px;
    margin-right: 22px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-44 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-group-elements-5 {
    min-height: 129px;
    width: 503px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-45 {
    width: auto;
  }

  .u-section-3 .u-text-46 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-image-5 {
    width: 489px;
    height: 205px;
    margin-right: 22px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-47 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-group-elements-6 {
    min-height: 129px;
    width: 503px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-48 {
    width: auto;
  }

  .u-section-3 .u-text-49 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-image-6 {
    width: 489px;
    height: 205px;
    margin-top: 0;
    margin-right: 22px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-19 {
    padding-top: 7px;
  }

  .u-section-3 .u-text-50 {
    width: auto;
    margin-top: 15px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-3 .u-group-elements-7 {
    min-height: 129px;
    width: 503px;
    margin-top: 8px;
    margin-right: 15px;
    margin-left: 22px;
  }

  .u-section-3 .u-text-51 {
    width: auto;
  }

  .u-section-3 .u-text-52 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-image-7 {
    width: 489px;
    height: 205px;
    margin-right: 22px;
    margin-left: 29px;
  }

  .u-section-3 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    background-position: 0% 35.05%;
    width: 520px;
  }

  .u-section-3 .u-text-54 {
    margin-right: 173px;
    margin-left: 25px;
  }

  .u-section-3 .u-list-3 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    width: 340px;
    min-height: 639px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 194px;
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 159px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
    margin-right: -12px;
  }

  .u-section-3 .u-image-2 {
    height: 201px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-20 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-23 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-26 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-29 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-32 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-35 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -169px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 2849px;
  }

  .u-section-3 .u-text-38 {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 293px;
    min-height: 189px;
    margin-right: 32px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-40 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-3 {
    width: 307px;
    height: 138px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-41 {
    font-size: 2.25rem;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-elements-4 {
    width: 293px;
    min-height: 189px;
    margin-right: 32px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-43 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-4 {
    width: 307px;
    height: 138px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-44 {
    font-size: 2.25rem;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 293px;
    min-height: 189px;
    margin-right: 32px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-46 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-5 {
    width: 307px;
    height: 138px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-47 {
    font-size: 2.25rem;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-elements-6 {
    width: 293px;
    min-height: 189px;
    margin-right: 32px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-49 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-6 {
    width: 307px;
    height: 138px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-50 {
    font-size: 2.25rem;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-elements-7 {
    width: 293px;
    min-height: 189px;
    margin-right: 32px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-52 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-7 {
    width: 307px;
    height: 138px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-21 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-8 {
    margin-bottom: 0;
    background-size: auto 120%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-54 {
    margin-right: 37px;
    margin-left: 15px;
  }

  .u-section-3 .u-list-3 {
    width: 290px;
  }

  .u-section-3 .u-text-55 {
    width: auto;
    margin-top: 22px;
    margin-right: 42px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-56 {
    width: auto;
    margin-top: 9px;
    margin-right: 12px;
    margin-left: 18px;
  }

  .u-section-3 .u-text-57 {
    width: auto;
    margin-top: 4px;
    margin-left: 18px;
  }

  .u-section-3 .u-btn-16 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-text-58 {
    width: auto;
    margin-top: -5px;
    margin-left: 18px;
  }
}

.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-tab-link-2:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-tab-link-5:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]),
.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-block-8874-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]):hover {
  border-color: #478ac9 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]).hover {
  border-color: #478ac9 !important;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-container-layout:hover .u-text-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-text-55:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4) !important;
}

.u-section-3 .u-container-layout:hover .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-repeater-1:not([data-block-selected]):not([data-cell-selected]) {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 > .u-container-layout:before {
  opacity: 1 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-4 {
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-4 {
  opacity: 1 !important;
}

.u-section-3 .u-list-item-7,
.u-section-3 .u-list-item-7:before,
.u-section-3 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  border-color: #478ac9 !important;
}

.u-section-3 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  border-color: #478ac9 !important;
}

.u-section-3 .u-text-38,
.u-section-3 .u-text-38:before,
.u-section-3 .u-text-38 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-5.u-text-5.u-text-5:hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-5.u-text-5.u-text-5.hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  color: #858e99 !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  color: #858e99 !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  color: #a35559 !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  color: #a35559 !important;
}